<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button color="light" expand="block" fill="clear" shape="round" (click)="gotoCourse()">
              <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>

      <ion-title style="text-align:center;margin-right: 30px;">课程详情</ion-title>

      <ion-buttons slot="end" *ngIf="isTeacher == 0">
        <ion-button color="light" expand="block" fill="clear" shape="round" (click)="outLesson()">
            <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isTeacher == 1">
        <ion-button color="light" expand="block" fill="clear" shape="round" (click)="deleteLesson()">
            <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar style="--background:linear-gradient(#7468BE 0%,#7468BE 60%,white 60%,white 100%);--border-width: 0 0 0px;">
      <ion-card mode="ios">
        <ion-row style="margin-top:10px;"></ion-row>

          <ion-item lines="none">
              <ion-thumbnail class="thum" *ngIf="course.cover != 'image_null'">
                <img src={{course.cover}}>
              </ion-thumbnail>
              <ion-thumbnail class="thum" *ngIf="course.cover == 'image_null'">
                <img src="assets/img/course/cover-default.jpg">
              </ion-thumbnail>
              <ion-label>
                  <h5>&nbsp;&nbsp;&nbsp;{{course.name}}</h5>
                  <h5>&nbsp;&nbsp;&nbsp;{{course.teacher}}</h5>
              </ion-label>
              <ion-button *ngIf="course_admin == 1" fill="clear" (click)="gotoEdit()" style="margin-top: -40px; width: 30px;">
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-button>
          </ion-item>

        <ion-row style="margin-block-end:10px;"></ion-row>
      </ion-card>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item lines="none">
        <ion-label slot="start">
            <p>课程号</p>
        </ion-label>
        <ion-label slot="end">
            <p>{{course.code}}</p>
        </ion-label>
    </ion-item>

    <ion-item lines="none" (click)="gotoQRcode()">
        <ion-label slot="start">
            <p>课程二维码</p>
        </ion-label>
        <ion-icon slot="end" name="qr-code-outline" style="color: gray;"></ion-icon>
        <ion-icon slot="end" name="chevron-forward-outline" style="color:#7468be;"></ion-icon>
    </ion-item>

    <ion-item lines="none">
        <ion-label slot="start">开设学校</ion-label>
        <ion-note class="my_inf" slot="end" color="medium">{{course.school}}</ion-note>
    </ion-item>
  
    <ion-item lines="none">
        <ion-label slot="start">开设学院</ion-label>
        <ion-note class="my_inf" slot="end" color="medium">{{course.academy}}</ion-note>
    </ion-item>

    <ion-item lines="none">
        <ion-label slot="start">开设专业</ion-label>
        <ion-note class="my_inf" slot="end" color="medium">{{course.major}}</ion-note>
    </ion-item>

  </ion-list>

<ion-item class="lesson-row" lines="none" style="border:solid 1px #7468be;">
    <ion-button class="lesson-btn" fill="clear" style="color:#7468be" [routerLink]="['/member-list']">成员列表</ion-button>
</ion-item>
<ion-item *ngIf="checkin_admin == 1" class="lesson-row" lines="none" style="border:solid 1px yellowgreen;">
    <ion-button class="lesson-btn" fill="clear" style="color:yellowgreen" [routerLink]="['/checkin/course-checkin']">签到历史</ion-button>
</ion-item>
<ion-item *ngIf="isTeacher == 1" class="lesson-row" lines="none" style="border:solid 1px green;">
    <ion-button class="lesson-btn" fill="clear" style="color:green" [routerLink]="['/checkin/create-checkin']">发起签到</ion-button>
</ion-item>

<ion-item *ngIf="isTeacher == '0'" class="lesson-row" lines="none" style="border:solid 1px green;">
  <ion-button class="lesson-btn" fill="clear" style="color:green" [routerLink]="['/checkin']">课程签到</ion-button>
</ion-item>

</ion-content>
