.row {
    height: 50px;
    width: 100%;
}

.btn-exit {
    border: solid 1px red;
}

.lesson-row {
    margin: auto;
    width: 100%;
    margin-top: 20px;
    width: 90%;
    border-radius: 10px;
}

.lesson-btn {
    margin: auto;
    width: 80%;
    // height: -webkit-fill-available;
}

.my_textarea{
    width: 90%;
    height: 100px;
    overflow: visible;
}