<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="medium" expand="block" fill="clear" shape="round" [routerLink]="['/tabs/course']">
              <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title style="text-align:center;margin-right: 30px;">创建班课</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onCreate(createForm)" #createForm="ngForm" novalidate>
      <ion-list lines="full">
          <!-- <ion-item slot="center" class="show_cover" lines="none">
            <img src="assets/img/course/cover-default.jpg">
          </ion-item>
          <ion-item>
            <ion-label slot="start">课程封面</ion-label>
            <ion-note slot="end" style="font-size: 14px">点击图片上传封面</ion-note>
          </ion-item> -->

          <ion-item-divider color="light">
            <ion-thumbnail *ngFor="let image of course.covers">
              <img *ngIf="images != null" src="{{image}}">
            </ion-thumbnail>
            <ion-note slot="end" style="font-size: 15px">上传图片请小于1M</ion-note>
          </ion-item-divider>

          <ion-item>
              <ion-label slot="start">课程名称</ion-label>
              <ion-input name="name" type="text" class="my_inf" slot="end"
                placeholder="未设置" [(ngModel)]="course_name" #name="ngModel">
              </ion-input>
          </ion-item>

          <ion-item>
            <ion-label slot="start">开设学校</ion-label>
            <ion-input name="school" type="text" class="my_inf" slot="end"
              placeholder="未设置" [(ngModel)]="course_school" #school="ngModel">
            </ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label slot="start">开设学院</ion-label>
            <ion-input name="academy" type="text" class="my_inf" slot="end"
              placeholder="未设置" [(ngModel)]="course_academy" #academy="ngModel">
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-label slot="start">开设专业</ion-label>
          <ion-input name="subject" type="text" class="my_inf" slot="end"
            placeholder="未设置" [(ngModel)]="course_subject" #academy="ngModel">
          </ion-input>
        </ion-item>

        <ion-row style="margin: top 30px;" class="row">
          <ion-button class="btn" type="submit" color="primary" [disabled]="createForm.invalid"
          [routerLink]="['/course/create-success']">创建班课
          </ion-button>
        </ion-row>
      </ion-list>
  </form>

</ion-content>