<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="medium" expand="block" fill="clear" shape="round" [routerLink]="['/tabs/course']">
              <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title style="text-align:center;margin-right: 30px;">创建班课</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onCreate(createForm)" #createForm="ngForm" novalidate>
      <ion-list lines="full">

        <ion-item-divider color="light">
          <ion-thumbnail *ngFor="let image of covers">
            <img src={{image}}>
          </ion-thumbnail>
          <ion-thumbnail slot="end" (click)="onPresentActiveSheet()" *ngIf="covers[0] == null">
            <img src="assets/img/course/add.png">
          </ion-thumbnail>
        </ion-item-divider>

        <ion-item>
          <ion-label slot="start">课程名称</ion-label>
          <ion-input name="name" type="text" class="my_inf" slot="end"
            placeholder="未设置" [(ngModel)]="course_name" #name="ngModel" required>
          </ion-input>
        </ion-item>

        <ion-item (click)="openPicker(1)">
          <ion-label slot="start">开设学校</ion-label>
          <ion-note class="my_inf" slot="end">{{schoolChoosed.name}}</ion-note>
        </ion-item>

        <ion-item (click)="openPicker(2)">
          <ion-label slot="start">开设学院</ion-label>
          <ion-note class="my_inf" slot="end">{{academyChoosed.name}}</ion-note>
        </ion-item>

        <ion-item (click)="openPicker(3)">
          <ion-label slot="start">开设专业</ion-label>
          <ion-note class="my_inf" slot="end">{{majorChoosed.name}}</ion-note>
        </ion-item>

        <ion-row style="margin: top 30px;" class="row">
          <ion-button color="primary" type="submit" class="btn"
          [disabled]="createForm.invalid"> 创建课程 </ion-button>
        </ion-row>
      </ion-list>
  </form>

</ion-content>