<ion-header>
  <ion-toolbar style="margin-top:10px;">
    <ion-searchbar class="searchbar" (ionChange)="getData($event)" placeholder="搜索 {{courseType}}"></ion-searchbar>
    <ion-button slot="end" fill="outline" color="primary" size="small" (click)="dissmissSearch()">取消</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
     pullingIcon="chevron-down">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="total!=0">
    <ion-list id="list" lines="full" *ngFor="let item of list;let i=index">

        <ion-item style="width:100%">
            <ion-grid>
                <ion-row (click)="gotodetail(i)">

                    <ion-col size="2">
                        <ion-thumbnail class="thum" *ngIf="item.image != 'image_null'">
                            <img src={{item.image}}>
                        </ion-thumbnail>
                        <ion-thumbnail class="thum" *ngIf="item.image == 'image_null'">
                            <img src="assets/img/course/cover-default.jpg">
                        </ion-thumbnail>
                    </ion-col>

                    <ion-col size="9">
                        <ion-label>
                            <ion-text style="color: black;">&nbsp;&nbsp;&nbsp;{{item.name}}</ion-text>
                            <p>&nbsp;&nbsp;&nbsp;{{item.code}}&nbsp;&nbsp;&nbsp;{{item.teacher}}</p>
                        </ion-label>
                    </ion-col>

                    <ion-col size="1">
                        <ion-icon solt="end" name="chevron-forward-outline" color="primary"
                        style="margin-top: 50%; font-size: large;"></ion-icon>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-item>

    </ion-list>

    <ion-item *ngIf="flag==1" lines="none">
        <ion-label style="text-align: center;">
             <p>你已经看到我的底线啦~</p>
        </ion-label>
    </ion-item>

    <ion-infinite-scroll threshold="10%" id="infinite-scroll" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
            loading-spinner="bubbles" loading-text="加载中...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</div>
  <div *ngIf="total==0 && flag==1">
    <ion-grid>
      <ion-item lines="none"></ion-item>
      <ion-item lines="none"></ion-item>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <img src="assets/img/components/empty.png">
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-label style="text-align: center;">
            <p>您没有相关班课哦~</p>
          </ion-label>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>