.text-pos {
    text-align: center;
}

.col-btn {
    text-align: center;
}

.click-btn {
    width: 50%;
}

.my-circle {
    min-width: 180px;
    height: 180px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background-color: #7468be;
    display: block;
    position: absolute;
    font-style: initial;
    left: 26%;
    top: 30%;
    border-radius: 120px; //让边框变成圆形
    padding: 0 3px;
    z-index: 1000;
    font-size: 11px;
    box-shadow: rgba(131, 118, 216, 0.644) 0px 0px 100px; //让边框带有阴影
}