<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button color="medium" expand="block" fill="clear" shape="round" [routerLink]="['/tabs/mine']">
            <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        </ion-button>
    </ion-buttons>

      <ion-title style="text-align:center;">我的信息</ion-title>

      <ion-buttons slot="end">
        <ion-button color="medium" expand="block" fill="clear" shape="round" [routerLink]="['/mine/edit-usermsg']">
            <ion-icon slot="end" name="create-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <ion-grid>
        <ion-card mode="ios">
            <ion-item lines="none" style="margin-top: 10px;">
                <ion-avatar class="my-thum" *ngIf="user.image!='image_null'">
                    <img class="my-thum" src={{user.image}}>
                </ion-avatar>
                <ion-avatar class="my-thum" *ngIf="user.image=='image_null'">
                    <img class="my-thum-image" src="../../../../assets/icon/head.png">
                </ion-avatar>
            </ion-item>
            <ion-item lines="none">
                <ion-label style="text-align: center; margin-top: 8px; color: #7468be;">
                    用户身份：{{role}}</ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="role=='学生'">
                <ion-label style="text-align: center; margin-top: 8px; color: black;">
                    总经验值：{{user.exp}}</ion-label>
            </ion-item>
        </ion-card>
    
        <ion-item>
            <ion-label>邮箱</ion-label>
            <ion-note class="my_inf" slot="end" type="text" style="color: #808080">{{user.email}}</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>手机号</ion-label>
            <ion-note class="my_inf" slot="end" type="text" style="color: #808080">{{user.telephone}}</ion-note>
        </ion-item>
    
        <ion-item>
            <ion-label>姓名</ion-label>
            <ion-note class="my_inf" slot="end" type="text" style="color: #808080">{{user.name}}</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>学号</ion-label>
            <ion-note class="my_inf" slot="end" type="text" style="color: #808080">{{user.sno}}</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>性别</ion-label>
            <ion-note class="my_inf" slot="end" type="text" style="color: #808080">{{user.sex}}</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>学校</ion-label>
            <ion-note class="my_inf" slot="end" type="text" style="color: #808080">{{user.school}}</ion-note>
        </ion-item>

    </ion-grid>
  </ion-list>
</ion-content>
