//页面背景
.background{
    height:100%;
    width:100%;
    background-image:url(/assets/img/login/login.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.login_tabs{
    font-size: 17px;
    font-weight: bold;
    color: #f4f5f8;
}

//杂项
.img-tel{
    height: 28px;
}
.row{
    padding-top: 10px;
    width:80%;
    margin:auto;
}
ion-segment-button{
    background-color: rgba(225,225,225,0) !important;
}