<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" expand="block" fill="clear" shape="round" [routerLink]="['/tabs/mine']">
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
    <ion-title>about-us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text>
    <p>1、项目名称: 到云108</p>
    <p>2、团队成员：敬祎丹 林心代 吴凌欣 游璐颖</p>
    <p>3、APP已完成功能：</p>
    <p>4、未完成功能：</p>
    <p>5、意见和建议：</p>
  </ion-text>
</ion-content>
