<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="medium" expand="block" fill="clear" shape="round" [routerLink]="['/tabs/mine']">
              <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title style="text-align:center;margin-right: 30px;">修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <form (ngSubmit)="onChangePass(changepassForm)" #changepassForm="ngForm" novalidate>
      <ion-grid>
        <ion-row class="row" style="margin-top:30px">
        </ion-row>
        <ion-row class="row">
          <ion-input name='old_pwd' type="password" class="text_input" placeholder="请输入旧密码" required
          pattern="^(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^[^\s\u4e00-\u9fa5]{6,12}$" [(ngModel)]="changeinf.oldpassword" #old_pwd="ngModel">
            <ion-icon name="lock-closed-outline" class="input_icon"></ion-icon>
          </ion-input>
        </ion-row>
        <div class="signup_warn">
          <ion-text name='old_pwd' text-left color="danger" *ngIf="old_pwd.invalid && old_pwd.touched">
            <p class="warn" [hidden]="!old_pwd.errors?.required" padding-start>必填：请输入旧密码</p>
            <p class="warn" [hidden]="!old_pwd.errors?.pattern" padding-start>
              旧密码格式错误</p>
          </ion-text>
        </div>

        <ion-row class="row">
          <ion-input name="pwd1" type="password" class="text_input" placeholder="请输入新密码" required
          pattern="^(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^[^\s\u4e00-\u9fa5]{6,16}$" [(ngModel)]="changeinf.password1" #pwd1="ngModel">
            <ion-icon name="lock-closed-outline" class="input_icon"></ion-icon>
          </ion-input>
        </ion-row>
        <div class="signup_warn">
          <ion-text name='pwd1' text-left color="danger" *ngIf="pwd1.invalid && pwd1.touched">
            <p class="warn" [hidden]="!pwd1.errors?.required" padding-start>必填：请输入新密码</p>
            <p class="warn" [hidden]="!pwd1.errors?.pattern" padding-start>
              6至16位，由数字、英文、符号三种字符类型构成，至少包含两种类型字符</p>
          </ion-text>
        </div>

        <ion-row class="row">
          <ion-input name="pwd2" type="password" class="text_input" placeholder="请再次输入新密码" required
          pattern="^(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^[^\s\u4e00-\u9fa5]{6,16}$" [(ngModel)]="changeinf.password2" #pwd2="ngModel">
            <ion-icon name="bag-check-outline" class="input_icon"></ion-icon>
          </ion-input>
        </ion-row>
        <div class="signup_warn">
          <ion-text text-left color="danger" *ngIf="pwd2.invalid && pwd2.touched">
            <p class="warn" [hidden]="!pwd2.errors?.required" padding-start>必填：请再次确认您的密码</p>
          </ion-text>
        </div> 

        <ion-row class="row">
          <ion-button color="primary" type="submit" class="btn" [disabled]="changepassForm.invalid">确认修改</ion-button>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>