<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" expand="block" fill="clear" shape="round" [routerLink]="['/mine/usermsg']">
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
      <ion-title style="text-align:center;">修改信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <form (ngSubmit)="onSubmit(msgForm)" #msgForm="ngForm" novalidate>
    <ion-grid>
    <ion-card mode="ios">
        <ion-item lines="none" (click)="changeImage()">
            <ion-avatar class="my-thum" *ngIf="user.image != 'image_null'">
                <img class="my-thum" src={{user.image}}>
            </ion-avatar>
            <ion-avatar class="my-thum" *ngIf="user.image == 'image_null'">
                <img class="my-thum-image" src="../../../../assets/icon/head.png">
            </ion-avatar>
        </ion-item>
        <ion-item lines="none">
            <ion-label style="text-align: center; margin-top: 8px; color: #7468be;">
                用户身份：xx</ion-label>
        </ion-item>
    </ion-card>

      <ion-item slot="end">
          <ion-label>姓名</ion-label>
          <ion-input class="my_inf" slot="end" type="text" placeholder="未设置" [(ngModel)]="user.name"
          required style="color: #808080"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>学/工号</ion-label>
          <ion-input class="my_inf" slot="end" type="text" placeholder="未设置" [(ngModel)]="user.sno"
          required pattern="^[0-9]*$" style="color: #808080"></ion-input>
      </ion-item>

      <ion-radio-group [(ngModel)]="user.sex" mode="md">
          <ion-item>
              <ion-label>性别</ion-label>
              <ion-radio color="success" value=0 style="margin-left: 100px;"></ion-radio>
              <ion-label style="margin-left: 15px;">男</ion-label>
              <ion-radio color="tertiary" value=1></ion-radio>
              <ion-label style="margin-left: 15px;">女</ion-label>
          </ion-item>
      </ion-radio-group>

      <ion-item slot="end" (click)="openPicker(1)">
        <ion-label>学校</ion-label>
        <ion-text class="my_inf" slot="end" style="color: #808080">{{schoolShow}}</ion-text>
      </ion-item>

      <ion-item lines="none">
      </ion-item>
      <ion-row class="row">
        <ion-button color="primary" type="submit" class="btn"
          [disabled]="msgForm.invalid">保存修改</ion-button>
      </ion-row>
      </ion-grid>>
  </form>
  </ion-list>

  <!-- <ion-list lines="none">
      <ion-item class="save-row" lines="none">
          <ion-button class="save-btn btn" style="width:90%" fill="clear" (click)="updateInf()">保存修改</ion-button>
      </ion-item>
  </ion-list> -->
  
</ion-content>