<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="medium" expand="block" fill="clear" shape="round" (click)="gotodetail()">
              <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title style="text-align:center;margin-right: 30px;">编辑班课</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit(submitForm)" #submitForm="ngForm" novalidate>
      <ion-list lines="full">

        <ion-item-divider color="stable">
          <!-- <ion-thumbnail *ngIf="course_cover != 'image_null'" slot="start"> -->
            <img *ngIf="course.cover != 'image_null'" slot="start" class="cover_img"
              src={{course.cover}}>
          <!-- </ion-thumbnail> -->
          <!-- <ion-thumbnail slot="start" (click)="onPresentActiveSheet()"> -->
            <img *ngIf="course.cover == 'image_null'" slot="start" class="cover_img"
            (click)="addPicture()" src="assets/img/course/add.png">
          <!-- </ion-thumbnail> -->
        </ion-item-divider>

        <ion-item (click)="openPicker(0,'term')">
          <ion-label slot="start">授课学期</ion-label>
          <ion-note class="my_inf" slot="end">{{termChoosed.name}}</ion-note>
        </ion-item>

        <ion-item (click)="openPicker(0,'lesson')">
          <ion-label slot="start">对应课程</ion-label>
          <ion-note class="my_inf" slot="end">{{lessonChoosed.name}}</ion-note>
        </ion-item>

        <ion-item>
          <ion-label slot="start">班课名称</ion-label>
          <ion-input name="name" type="text" class="my_inf" slot="end"
            placeholder="请输入班课名" [(ngModel)]="course.name" #name="ngModel" required>
          </ion-input>
        </ion-item>

        <ion-item (click)="openPicker(0,'school')">
          <ion-label slot="start">开设学校</ion-label>
          <ion-note class="my_inf" slot="end">{{schoolChoosed.name}}</ion-note>
        </ion-item>

        <ion-item (click)="openPicker(1,'academy')">
          <ion-label slot="start">开设学院</ion-label>
          <ion-note class="my_inf" slot="end">{{academyChoosed.name}}</ion-note>
        </ion-item>

        <ion-row style="margin: top 30px;" class="row">
          <ion-button color="primary" type="submit" class="btn"
          [disabled]="submitForm.invalid"> 确认修改 </ion-button>
        </ion-row>
      </ion-list>
  </form>

</ion-content>
