<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="medium" expand="block" fill="clear" shape="round" [routerLink]="['/tabs/course']">
              <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title color="medium" style="text-align:center;">加入班课</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="onSubmit(codeForm)" #codeForm="ngForm" novalidate>
        <ion-item lines="none"></ion-item>
        <ion-item lines="none">
            <ion-input name="code" type="text" style="border-bottom: solid 1px #7468BE" placeholder="请输入班课号"
            [(ngModel)]="search_code" #code="ngModel" required pattern="^\d{7}$"></ion-input>
        </ion-item>
        <ion-row class="row">
            <ion-button color="primary" type="submit" class="btn"
            [disabled]="codeForm.invalid">下一步</ion-button>
        </ion-row>
    </form>
</ion-content>
